
@model IEnumerable<DataLayer.Page>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="title-box mb-3">
                    <p class="m-0 p-0">آخرین کتابها</p>
                    <span class="d-block"><a href="#">مشاهده همه</a> <i class="bi bi-arrow-left position-relative"></i></span>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                    <div class="blg-wrap bg-white pb-3">
                        <figure class="position-relative">
                            <img src="~/PageImages/@item.ImageName" alt="" class="w-100">
                            <figcaption class="position-absolute w-100 h-100"><span class="blg-dt"> @item.CreateDate.ToShamsi() </span></figcaption>
                        </figure>
                        <div class="px-3 py-1 text-start">
                            <span class="blg-cat-name d-inline-block bg-info py-1 px-2">مطالب روز</span>
                        </div>
                        <a href="#">
                            <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden"> @item.Title </h4>
                        </a>
                        <div class="post-type d-flex p-3 pb-0">
                            <i class="bi bi-instagram d-inline-block text-info text-center"></i>
                            <span> @item.PageGroup.GroupTitle </span>
                        </div>
                        <p class="p-4 overflow-hidden">
                            @item.ShortDescription
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>









@*<div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="blg-wrap bg-white pb-3">
            <figure class="position-relative">
                <img src="~/Content/Template/img/blog/podcast.jpg" alt="" class="w-100">
                <figcaption class="position-absolute w-100 h-100"><span class="blg-dt">4 مرداد</span></figcaption>
            </figure>
            <div class="px-3 py-1 text-start">
                <span class="blg-cat-name d-inline-block bg-danger py-1 px-2">رادیو</span>
            </div>
            <a href="#">
                <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden">رادیو آموزشی افتتاح شد</h4>
            </a>
            <div class="post-type d-flex p-3 pb-0">
                <i class="bi bi-headphones d-inline-block text-info text-center"></i>
                <span>پادکست</span>
            </div>
            <p class="p-4 overflow-hidden">زمانی که چندین سال قبل تصمیم گرفتیم تا قدم در میدان طراحی و برنامه نویسی وب سایت بگذاریم هیچ مسیری برای ما واضح و روشن نبود و باید در جستجوی راه های درست ، روز ها و هفته ها وقت سپری می کردیم </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="blg-wrap bg-white pb-3">
            <figure class="position-relative">
                <img src="~/Content/Template/img/blog/buisiness.jpg" alt="" class="w-100">
                <figcaption class="position-absolute w-100 h-100"><span class="blg-dt">4 مرداد</span></figcaption>
            </figure>
            <div class="px-3 py-1 text-start">
                <span class="blg-cat-name d-inline-block bg-dark py-1 px-2">پرسش و پاسخ</span>
            </div>
            <a href="#">
                <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden">بازاریابی محتوا و هدف</h4>
            </a>
            <div class="post-type d-flex p-3 pb-0">
                <i class="bi bi-card-text d-inline-block text-info text-center"></i>
                <span>پیشنهادی</span>
            </div>
            <p class="p-4 overflow-hidden">زمانی که چندین سال قبل تصمیم گرفتیم تا قدم در میدان طراحی و برنامه نویسی وب سایت بگذاریم هیچ مسیری برای ما واضح و روشن نبود و باید در جستجوی راه های درست ، روز ها و هفته ها وقت سپری می کردیم </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="blg-wrap bg-white pb-3">
            <figure class="position-relative">
                <img src="~/Content/Template/img/blog/cook.jpg" alt="" class="w-100">
                <figcaption class="position-absolute w-100 h-100"><span class="blg-dt">4 مرداد</span></figcaption>
            </figure>
            <div class="px-3 py-1 text-start">
                <span class="blg-cat-name d-inline-block bg-danger py-1 px-2">تغذیه</span>
            </div>
            <a href="#">
                <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden">تنظیم برنامه غذا برای منزل</h4>
            </a>
            <div class="post-type d-flex p-3 pb-0">
                <i class="bi bi-clock d-inline-block text-info text-center"></i>
                <span>خانه و کاشانه</span>
            </div>
            <p class="p-4 overflow-hidden">زمانی که چندین سال قبل تصمیم گرفتیم تا قدم در میدان طراحی و برنامه نویسی وب سایت بگذاریم هیچ مسیری برای ما واضح و روشن نبود و باید در جستجوی راه های درست ، روز ها و هفته ها وقت سپری می کردیم </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="blg-wrap bg-white pb-3">
            <figure class="position-relative">
                <img src="~/Content/Template/img/blog/Piks.jpg" alt="" class="w-100">
                <figcaption class="position-absolute w-100 h-100"><span class="blg-dt">4 مرداد</span></figcaption>
            </figure>
            <div class="px-3 py-1 text-start">
                <span class="blg-cat-name d-inline-block bg-primary py-1 px-2">هنر</span>
            </div>
            <a href="#">
                <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden">عجیب ترین تابلو ها</h4>
            </a>
            <div class="post-type d-flex p-3 pb-0">
                <i class="bi bi-columns-gap d-inline-block text-info text-center"></i>
                <span>مقاله تصویری</span>
            </div>
            <p class="p-4 overflow-hidden">زمانی که چندین سال قبل تصمیم گرفتیم تا قدم در میدان طراحی و برنامه نویسی وب سایت بگذاریم هیچ مسیری برای ما واضح و روشن نبود و باید در جستجوی راه های درست ، روز ها و هفته ها وقت سپری می کردیم </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="blg-wrap bg-white pb-3">
            <figure class="position-relative">
                <img src="~/Content/Template/img/blog/shop.jpg" alt="" class="w-100">
                <figcaption class="position-absolute w-100 h-100"><span class="blg-dt">4 مرداد</span></figcaption>
            </figure>
            <div class="px-3 py-1 text-start">
                <span class="blg-cat-name d-inline-block bg-info py-1 px-2">فروشگاه اینترنتی</span>
            </div>
            <a href="#">
                <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden">چگونه 10 برابر فروختیم ؟</h4>
            </a>
            <div class="post-type d-flex p-3 pb-0">
                <i class="bi bi-bag d-inline-block text-info text-center"></i>
                <span>کسب و کار</span>
            </div>
            <p class="p-4 overflow-hidden">زمانی که چندین سال قبل تصمیم گرفتیم تا قدم در میدان طراحی و برنامه نویسی وب سایت بگذاریم هیچ مسیری برای ما واضح و روشن نبود و باید در جستجوی راه های درست ، روز ها و هفته ها وقت سپری می کردیم </p>
        </div>
    </div>*@
