@model IEnumerable<DataLayer.Page>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-6 col-lg-4 my-3">
        <div class="blg-wrap bg-white pb-3">
            <figure class="position-relative">
                <img src="~/PageImages/@item.ImageName" alt="" class="w-100">
                <figcaption class="position-absolute w-100 h-100"><span class="blg-dt"> @item.CreateDate.ToShamsi() </span></figcaption>
            </figure>
            <div class="px-3 py-1 text-start">
                <span class="blg-cat-name d-inline-block bg-info py-1 px-2"> بازدید: @item.Visit   </span>
            </div>
            <a href="#">
                <h4 class="blg-title p-3 mx-5 text-dark border-bottom overflow-hidden"> @item.Title  </h4>
            </a>
            <div class="post-type d-flex p-3 pb-0">
                <i class="bi bi-instagram d-inline-block text-info text-center"></i>
                <span>مقاله اینستاگرام</span>
            </div>
            <p class="p-4 overflow-hidden">زمانی که چندین سال قبل تصمیم گرفتیم تا قدم در میدان طراحی و برنامه نویسی وب سایت بگذاریم هیچ مسیری برای ما واضح و روشن نبود و باید در جستجوی راه های درست ، روز ها و هفته ها وقت سپری می کردیم </p>
        </div>
    </div>

}

