


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        دسته بندی ها
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">مجله فرهنگی</a></li>
        <li><a class="dropdown-item" href="#">مطالب ویدئویی</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">ارسالی مخاطبین</a></li>
    </ul>
</li>