@model DataLayer.PageGroup

@{
    ViewBag.Title = "Delete";
}


<h3>آیا حذف شود؟</h3>
<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-2 col-md-12 text-lg-end my-4">
            <input type="submit" value="حذف" class="btn btn-danger" /> 
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
